body {
  font-family: "Open Sans", "Hiragino Sans GB", "Microsoft YaHei", "΢���ź�", Arial, SimSun, sans-serif;
  line-height: 1.6;
}
a {
  color: #00B7FF;
}
.wrapper {
  width: 888px;
  margin: auto;
  min-height: 1000px;
  padding: 10px 5px;
  font-size: 14px;
  color: #333;
}
.wrapper > h1 {
  font-weight: 700;
}
.wrapper > p {
  padding: 5px 0;
}
.wrapper > p.item {
  color: #666;
}
